* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.nav-container {
  background: #fffffa;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
  height: 72px;
  margin-top: -65px;
  z-index: 500;
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}

nav ul {
  display: flex;
}

nav .logo {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  color: #021718;
}

.nav-items li {
  list-style: none;
  margin-right: 100px;
}

.nav-items li a {
  color: #021718;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
